In [30]:
import pandas as pd
data = {"id":pd.Series([26,27,28,29,30]),
       "employment status":pd.Series(["not employed","employed","employed","not employed","not employed"])}
df1= pd.DataFrame(data)
df1

   id employment status
0  26      not employed
1  27          employed
2  28          employed
3  29      not employed
4  30      not employed

In [31]:
df1.dtypes

id                    int64
employment status    object
dtype: object

In [32]:
df2=df1.astype({"id":"string","employment status":"object"})

In [33]:
df2.dtypes

id                   string
employment status    object
dtype: object

In [34]:
df1["id"]+2

0    28
1    29
2    30
3    31
4    32
Name: id, dtype: int64

In [37]:
try:
    df1["id"]+'2'
except Exception as e:
    print(e)

ufunc 'add' did not contain a loop with signature matching types (dtype('int64'), dtype('<U1')) -> None

In [38]:
try:
    df2["id"]+2
except Exception as e:
    print(e)

can only concatenate str (not "int") to str

In [35]:
"20"+df2["id"]

0    2026
1    2027
2    2028
3    2029
4    2030
Name: id, dtype: string

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('int64'), dtype('<U1')) -> None

In [12]:
import numpy as np
s = pd.DataFrame({"col1":[1, 2, np.nan],"col2":["c","d","e"]})

In [13]:
s.dtypes

col1    float64
col2     object
dtype: object

In [14]:
s["col1"]=s["col1"].convert_dtypes()

In [20]:
s

   col1 col2
0     1    c
1     2    d
2  <NA>    e

In [21]:
label=10
print(f'label: {label}')

label: 10

In [27]:
content=10
print(f'content: {content}', sep='\n')

content: 10