In [1]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", passwd="Skqgi9782", use_pure=True)
    
    query = "SHOW DATABASES"
    
    cursor = mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())
    
except Exception as e:
    mydb.close()
    print(str(e))

[('data_analysis_stack_exchange_movies',), ('db',), ('information_schema',), ('mysql',), ('performance_schema',), ('practicedb',), ('sakethdb',), ('sys',)]

In [1]:
try:
    mydb = connection.connect(host="localhost", user="root", passwd="Skqgi9782",database="sakethdb", use_pure=True)
    
    query = "SHOW TABLES"
    
    cursor = mydb.cursor()
    cursor.execute(query)
    print(cursor.fetchall())
    
except Exception as e:
    mydb.close()
    print(str(e))

[('bank',), ('table1',), ('table2',)]

In [13]:
try:
    mydb = connection.connect(host="localhost", user="root", passwd="Skqgi9782",database="sakethdb", use_pure=True)
    
    query = "DESC table1"
    
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
    
    cursor.execute("INSERT INTO table1 VALUES (4, 'sailaja','linga','1975-12-28'),(5,'saisree','linga','1994-04-27')")
    mydb.commit()
    
    cursor.execute("SELECT * FROM table1")
    for i in cursor.fetchall():
        print(i)
        
    cursor.execute("SELECT DISTINCT last_name,first_name FROM table1")
    
    
    for i in cursor.fetchall():
        print(i)
        
except Exception as e:
    mydb.close()
    print(str(e))

('Sno', b'int', 'YES', '', None, '')
('last_name', b'varchar(10)', 'YES', '', None, '')
('first_name', b'varchar(10)', 'YES', '', None, '')
('DOB', b'date', 'YES', '', None, '')
(1, 'saketh', 'linga', datetime.date(1998, 10, 9))
(2, 'saketh', 'linga', datetime.date(1998, 9, 10))
(2, 'saketh', 'linga', datetime.date(1998, 9, 10))
(3, 'saketh', 'linga', datetime.date(1998, 9, 10))
(4, 'sailaja', 'linga', datetime.date(1975, 12, 28))
(5, 'saisree', 'linga', datetime.date(1994, 4, 27))
('saketh', 'linga')
('sailaja', 'linga')
('saisree', 'linga')

In [16]:
try:
    mydb = connection.connect(host="localhost", user="root", passwd="Skqgi9782",database="sakethdb", use_pure=True)
    
    query = "SELECT * FROM bank ORDER BY age LIMIT 5"
    
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
    
except Exception as e:
    mydb.close()
    print(str(e))

(19, 'student', 'single', 'unknown', 'no', 0, 'no', 'no', 'cellular', 11, 'feb', 123, 3, -1, 0, 'unknown', 'no')
(19, 'student', 'single', 'primary', 'no', 103, 'no', 'no', 'cellular', 10, 'jul', 104, 2, -1, 0, 'unknown', 'yes')
(19, 'student', 'single', 'secondary', 'no', 302, 'no', 'no', 'cellular', 16, 'jul', 205, 1, -1, 0, 'unknown', 'yes')
(19, 'student', 'single', 'unknown', 'no', 1169, 'no', 'no', 'cellular', 6, 'feb', 463, 18, -1, 0, 'unknown', 'no')
(20, 'student', 'single', 'secondary', 'no', 1191, 'no', 'no', 'cellular', 12, 'feb', 274, 1, -1, 0, 'unknown', 'no')

In [19]:
try:
    mydb = connection.connect(host="localhost", user="root", passwd="Skqgi9782",database="sakethdb", use_pure=True)
    
    query = "SELECT * FROM bank WHERE balance=(SELECT min(balance) FROM bank)"
    
    cursor = mydb.cursor()
    cursor.execute(query)
    for i in cursor.fetchall():
        print(i)
    
except Exception as e:
    mydb.close()
    print(str(e))

(44, 'management', 'married', 'secondary', 'no', -1746, 'yes', 'no', 'unknown', 20, 'jun', 218, 1, -1, 0, 'unknown', 'no')